.legend {
  margin-top: 50px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;

  .entry {
    display: flex;
    flex-direction: row;
    padding: 4px;
  }

  .box {
    flex-basis: 20px;
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }

  .label {
    flex-basis: 100%;
    font-size: 0.75em;
  }
}
